{% extends "base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block navigation %}
<nav id="navigation" class="navigation">
			
	<ul>
		<li><a href="{% url "cardealer:index" %}">Home</a></li>
		<li class="current-menu-item"><a href="{% url "cardealer:listing" %}">All Listings</a></li>
		<li><a href="{% url "cardealer:contact" %}">Contacts</a></li>
	</ul>
	
</nav><!--/ #navigation-->
{% endblock navigation %}

{% block content %}
<div class="main">

	<!-- - - - - - - - - - - - - - - Container - - - - - - - - - - - - - - - - -->	

	<section class="container sbl clearfix">

		<!-- - - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->		

		<section id="content" class="two-thirds column">
			
			<div class="page-header clearfix">

				<h3 class="section-title">Recent Automobiles</h3>

				<div class="layout-switcher">
					<a class="layout-grid" href="#item-grid">Grid View</a>
					<a class="layout-list" href="#item-list">List View</a>
				</div><!--/ .layout-switcher-->

			</div><!--/ .page-header-->

			<section id="change-items" class="item-grid">

				<article>
					
					<a href="one-products.html" class="single-image picture video">
						<img src="images/temp/thumb-1.jpg" alt="">
					</a>

					<div class="detailed">
						
						<h6 class="title-item">
							<a href="one-products.html">2009 Aston Martin DB9</a>
						</h6>
						
						<span class="price">$8.966</span>
						
						<div class="clear"></div>
						
						<ul class="list-entry">
							<li><b class="label">Engine:</b><span>1.4i TS 5Dr</span></li>
							<li><b class="label">Mileage:</b><span>75000</span></li>	
							<li><b class="label">Year:</b><span>2009</span></li>	
							<li><b class="label">Location:</b><span>New Jersey/ Newark</span></li>	
						</ul><!--/ .list-entry-->

						<label class="compare"><input type="checkbox" />Compare</label>
						<a href="one-products.html" class="button orange">Details</a>
						
					</div><!--/ .detailed-->
					
				</article>

			</section><!--/ #change-items-->	

			<div class="wp-pagenavi clearfix">
				
				<span class="pages">Page 1 of 2</span>
				<a class="prevpostslink" href="#"></a>
				<span class="current">1</span>
				<a class="page" href="#">2</a>
				<a class="nextpostslink" href="#"></a>
				
			</div><!--/ .wp-pagenavi-->

		</section><!--/ #content-->

		<!-- - - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - - -->	


		<!-- - - - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - -->	

		<aside id="sidebar" class="one-third column">
			
			<div class="widget-container widget_custom_search">
				
				<div class="search-heading">
						
					<h3 class="widget-title">Quick Search</h3>
					
				</div><!--/ .search-heading-->
				
				<div class="search-entry clearfix">

					<form action="/" class="form-panel">

						<fieldset>
							<label>Make:</label>
							<select>
								<option value="0">Any</option>
								<option value="1">Lorem</option>
								<option value="2">Ipsum</option>
							</select>
						</fieldset>

						<fieldset class="not-active">
							<label>Model:</label>
							<select>
								<option value="0">Any</option>
								<option value="1">Lorem</option>
								<option value="2">Ipsum</option>
							</select>
						</fieldset>

						<fieldset>
							<label>Price <span>min</span>:</label>
							<select>
								<option value="0">No max</option>
								<option value="1">Lorem</option>
								<option value="2">Ipsum</option>
							</select>
						</fieldset>

						<fieldset>
							<label>Price <span>max</span>:</label>
							<select>
								<option value="0">Any</option>
								<option value="1">Lorem</option>
								<option value="2">Ipsum</option>
							</select>
						</fieldset>

						<fieldset>
							<label>Year <span>from</span>:</label>
							<select>
								<option value="0">Any</option>
								<option value="1">Lorem</option>
								<option value="2">Ipsum</option>
							</select>
						</fieldset>

						<fieldset>
							<label>Year <span>to</span>:</label>
							<select>
								<option value="0">Any</option>
								<option value="1">Lorem</option>
								<option value="2">Ipsum</option>
							</select>
						</fieldset>
						
						<fieldset>
							<label>Body type</label>
							<select>
								<option value="0">Any</option>
								<option value="1">Lorem</option>
								<option value="2">Ipsum</option>
							</select>
						</fieldset>

						<div class="clear"></div>
						
						<button id="submitSearch" class="submit-search" type="submit">Search</button>

					</form><!--/ .form-panel-->						

				</div><!--/ .search-entry-->

			</div><!--/ .widget-container-->
		</aside><!--/ #sidebar-->

		<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - - -->

	</section><!--/.container -->

	<!-- - - - - - - - - - - - - end Container - - - - - - - - - - - - - - - - -->			
	
</div><!--/ .main-->
{% endblock content %}
