{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load my_tags %}

{% block title %}
{{ title }}
{% endblock title %}

{% block navigation %}
<nav id="navigation" class="navigation">
			
	<ul>
		<li><a href="{% url "cardealer:index" %}">Home</a></li>
		<li class="current-menu-item"><a href="{% url "cardealer:listing" %}">All Listings</a></li>
		<li><a href="{% url "cardealer:contact" %}">Contacts</a></li>
		<li><a href="{% url 'cardealer:terms' %}">Terms of Use</a></li>
		<li><a href="{% url 'cardealer:safety' %}">Safety</a></li>
		<li><a href="{% url 'cardealer:privacy' %}">Privacy Policy</a></li>
	</ul>
	
</nav><!--/ #navigation-->
{% endblock navigation %}

{% block content %}
<div class="main">

	<!-- - - - - - - - - - - - - - - Container - - - - - - - - - - - - - - - - -->	

	<section class="container sbl clearfix">

		<!-- - - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->		

		<section id="content" class="two-thirds column">
			
			<div class="page-header clearfix">

				<h3 class="section-title">Recent Automobiles</h3>

				<div class="layout-switcher">
					<a class="layout-grid" href="#item-grid">Grid View</a>
					<a class="layout-list" href="#item-list">List View</a>
				</div><!--/ .layout-switcher-->

			</div><!--/ .page-header-->

			<section id="change-items" class="listing">
				{% for ad in ads %}
					<article>
						
						<a href="{% url 'cardealer:detail' pk=ad.id %}" class="single-image picture video">
							{% for picture in ad.picture_set.all %}
								{% if forloop.first %}
									<img src={{ picture.thumb_med.url }} class="img-responsive" alt="">
								{% endif %}
							{% endfor %}
						</a>

						<div class="detailed">
							
							<h6 class="title-item">
								<a href="{% url 'cardealer:detail' pk=ad.id %}">{{ ad.title | truncatechars:20 }}</a>
							</h6>
							
							<span class="price">${{ ad.price | intcomma }}</span>
							
							<div class="clear"></div>
							
							<ul class="list-entry">
								{% if ad.mileage %}
									<li><b class="label">Mileage:</b><span>{{ ad.mileage }}</span></li>	
								{% endif %}
								{% if ad.manufacture_year %}
									<li><b class="label">Year:</b><span>{{ ad.manufacture_year }}</span></li>
								{% endif %}
								<li><b class="label">Location:</b><span>USA, {{ ad.state }}, {{ ad.city }}, {{ ad.zip }}</span></li>	
							</ul><!--/ .list-entry-->

							<a href="{% url 'cardealer:detail' pk=ad.id %}" class="button orange">Details</a>
							
						</div><!--/ .detailed-->
						
					</article>
				{% endfor %}

			</section><!--/ #change-items-->	

			<div class="wp-pagenavi clearfix">
				{% if ads.has_previous %}
					<a class="prevpostslink" href="?{% param_replace page=ads.previous_page_number %}" />

					{% if ads.number > 3 %}
						<a href="?{% param_replace page=1 %}" class="page">1</a>
						{% if ads.number > 4 %} 
							<span>...</span>
						{% endif %}
					{% endif %}
				{% endif %}

				{% for num in ads.paginator.page_range %} 
					{% if ads.number == num %}
						<span class="current">{{ num }}</span>
					{% elif num > ads.number|add:'-3' and num < ads.number|add:'3' %}
						<a href="?{% param_replace page=num %}" class="page">{{ num }}</a>
					{% endif %}
				{% endfor %}

				{% if ads.has_next %}
					{% if ads.number < ads.paginator.num_pages|add:'-3' %}
						<span>...</span>
						<a href="?{% param_replace page=ads.paginator.num_pages %}" class="page">{{ ads.paginator.num_pages }}</a>
					{% elif ads.number < ads.paginator.num_pages|add:'-2' %}
						<a href="?{% param_replace page=ads.paginator.num_pages %}" class="page">{{ ads.paginator.num_pages }}</a>
					{% endif %}

					<a href="?{% param_replace page=ads.next_page_number %}" class="nextpostslink"></a>
				{% endif %}
				
			</div><!--/ .wp-pagenavi-->

		</section><!--/ #content-->

		<!-- - - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - - -->	


		<!-- - - - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - -->	

		<aside id="sidebar" class="one-third column">
			
			<div class="widget-container widget_custom_search">
				
				<div class="search-heading">
						
					<h3 class="widget-title">Quick Search</h3>
					
				</div><!--/ .search-heading-->
				
				<div class="search-entry clearfix">

					<form action="{% url 'cardealer:listing' %}" class="form-panel">

						{% csrf_token %}
						<input type="hidden" name="page" value="1">

						<fieldset>
							<label>Keyword:</label>
							<input style="width: 100%;" type="text" name="title" />
						</fieldset>

						<fieldset>
							<label>Year:</label>
							<input style="width: 100%;" type="text" name="manufacture_year" />
						</fieldset>

						<fieldset>
							<label>Make:</label>
							<select style="width: 100%;" class=" form-control make" name="make">
								<option label="Any Make"></option>
								{% for make in makes %}
									<option value="{{ make.id }}">{{ make.name }}</option>
								{% endfor %}
							</select>
						</fieldset>

						<div class="clear"></div>
						
						<button id="submitSearch" class="submit-search" type="submit">Search</button>

					</form><!--/ .form-panel-->						

				</div><!--/ .search-entry-->

			</div><!--/ .widget-container-->
		</aside><!--/ #sidebar-->

		<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - - -->

	</section><!--/.container -->

	<!-- - - - - - - - - - - - - end Container - - - - - - - - - - - - - - - - -->			
	
</div><!--/ .main-->
{% endblock content %}
