{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block navigation %}
<nav id="navigation" class="navigation">
			
	<ul>
		<li><a href="{% url "cardealer:index" %}">Home</a></li>
		<li><a href="{% url "cardealer:listing" %}">All Listings</a></li>
		<li><a href="{% url "cardealer:contact" %}">Contacts</a></li>
	</ul>
	
</nav><!--/ #navigation-->
{% endblock navigation %}

{% block content %}
<div class="main">

	<!-- - - - - - - - - - - - - - - Container - - - - - - - - - - - - - - - - -->	

	<section class="container content clearfix">
		
			<h3 class="section-title">My Profile</h3>
			
			<form method="POST" action="{% url "cardealer:profile" %}">
				{% csrf_token %}
				<div class="form-account">

					<div class="form-heading">
						<h3>Change Your Profile</h3>
					</div><!--/ .form-heading-->
	
					<div class="form-entry clearfix">
					
						<div class="form-title">
							<h5>Name</h5>
						</div><!--/ .form-title-->
						
						<div class="eight columns alpha">
							<p>
								<label>First Name:</label>
								<input type="text" value="{{ user.first_name }}" name="first_name"/>
							</p>
	
							<p>
								<label>Last Name:</label>
								<input type="text" value="{{ user.last_name }}" name="last_name"/>
							</p>
							
						</div><!--/ .eight-->
						
						<div class="eight columns omega">
							<p>
								<label>Username: (can’t be changed)</label>
								<input type="text" value="{{ user.username }}" name="username" readonly/>
							</p>

							<p>
								<label>E-mail:</label>
								<input type="text" value="{{ user.email }}" name="email" />
							</p>
						</div><!--/ .eight-->
						
						<button type="submit" class="button orange">Update Profile</button>
						
					</div><!--/ .form-entry-->
	
				</div><!--/ .form-account-->
			</form>
				
	</section><!--/.container -->

	<!-- - - - - - - - - - - - - end Container - - - - - - - - - - - - - - - - -->			
	
</div><!--/ .main-->
{% endblock content %}
