{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block navigation %}
<nav id="navigation" class="navigation">
			
	<ul>
		<li><a href="{% url "cardealer:index" %}">Home</a></li>
		<li><a href="{% url "cardealer:listing" %}">All Listings</a></li>
		<li><a href="{% url "cardealer:contact" %}">Contacts</a></li>
		<li><a href="{% url 'cardealer:terms' %}">Terms of Use</a></li>
		<li><a href="{% url 'cardealer:safety' %}">Safety</a></li>
		<li><a href="{% url 'cardealer:privacy' %}">Privacy Policy</a></li>
	</ul>
	
</nav><!--/ #navigation-->
{% endblock navigation %}

{% block content %}
<div class="main">

	<!-- - - - - - - - - - - - - - - Container - - - - - - - - - - - - - - - - -->	

	<section class="container content clearfix">
		
			<h3 class="section-title">Welcome to Car Dealer</h3>
			
			<div class="offset-by-four eight columns alpha">
				{% if all_error %}
					<blockquote>
						{{ all_error }}
					</blockquote>
				{% endif %}
				{% if username_error %}
					<blockquote>
						{{ username_error }}
					</blockquote>
				{% endif %}
				{% if email_error %}
					<blockquote>
						{{ email_error }}
					</blockquote>
				{% endif %}
				{% if password1_error %}
					<blockquote>
						{{ password1_error }}
					</blockquote>
				{% endif %}
				{% if password2_error %}
					<blockquote>
						{{ password2_error }}
					</blockquote>
				{% endif %}
				<form method="POST" action="{% url "cardealer:register" %}">
					{% csrf_token %}
					<div class="form-account">
					
						<div class="form-heading">
							<h3>Register now for Car Dealer</h3>
						</div><!--/ .form-heading-->
						
						<div class="form-entry">
							<p>
								<label>Username:</label>
								<input type="text" name="username" />
							</p>
							<p>
								<label>Your Email:</label>
								<input type="text" name="email" />
							</p>
							<p>
								<label>Your Password:</label>
								<input type="password" name="password1" />
							</p>
							<p>
								<label>Confirm Password:</label>
								<input type="password" name="password2" />
							</p>
							<button type="submit" class="button orange">Sign Up</button>
						</div><!--/ .form-entry-->
						
					</div><!--/ .form-account-->
				</form>
				
			</div><!--/ .eight.columns-->
	</section><!--/.container -->

	<!-- - - - - - - - - - - - - end Container - - - - - - - - - - - - - - - - -->			
	
</div><!--/ .main-->
{% endblock content %}
